<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>webscraper</title>
</head>
<body>
    <div class="container">
        <div class="column">
			URL
			<form method="POST">
				<label for="url">Name:</label>
				<input type="text" id="url" name="url">
				<br>
				<button type="submit">submit</button>
			</form>
		</div>
		<div class="column">
			FOOTER
			<ol>
				{% for f in footer %}
					<li>{{ f.get_text() }}</li>
				{% endfor %}
			</ol>
		</div>
        <div class="column">
			ADDRESSES
			<ol>
				{% for addr in addresses %}
					<li>{{ addr }}</li>
				{% endfor %}
			</ol>
		</div>
		<div class="column">HEADERS
			<ol>
				{% for he in headers %}
					<li>
					{% for h in he %}
						{{ h.get_text() }},
					{% endfor %}
					</li>
				{% endfor %}
			</ol>
		</div>
        <div class="column">LINKS
			<ol>
				{% for l in links %}
					<li>
						<a href={{url}}{{ l.get('href') }}>{{ l.text }}</li>
				{% endfor %}
			</ol>
		</div>
        
    </div>
</body>
</html>